<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="danger" (click)="auth.signOut()">Sign Out</ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding">
          <ion-text style="line-height: 0.8; font-size: 55px; font-weight: lighter; letter-spacing: -0.2rem;">
            Scan to Login, View logs and more.
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="primary" size="large" expand="block" style="--border-radius: 30px;" (click)="onNavigate()">
            <ion-icon name="qr-code-outline"></ion-icon>
            &nbsp; Scan Now
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-list-header>
              <ion-label>Your sessions:</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Log 1</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
