<ion-content>

  <div *ngIf="auth.user$ | async; then authenticated else guest">
      <!-- template will replace this div -->
  </div>

  <!-- User NOT logged in -->
  <ng-template #guest>
    <div class="backdrop">

      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-padding">
            <ion-row style="margin-top: 20px;">
              <ion-col style="margin-top: 20px; margin-bottom: 10px;"  size="12" class="ion-text-left ion-text-capitalize">
                <ion-text style="line-height: 1; font-size: 45px; font-weight: lighter; letter-spacing: -0.2rem;">
                  A new way of authenticating. Simply Scan to Login
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Login to get started
                </ion-card-title>
              </ion-card-header>
              <ion-button expland="block" fill="clear" (click)="auth.googleSignin()">
                <ion-icon name="logo-google"></ion-icon> &nbsp; Continue with Google
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </ng-template>


  <!-- User logged in -->
  <ng-template #authenticated>
    <div class="backdrop" *ngIf="auth.user$ | async as user">

      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-padding">
            <ion-row style="margin-top: 20px;">
              <ion-col style="margin-top: 20px; margin-bottom: 10px;"  size="12" class="ion-text-left ion-text-capitalize">
                <ion-text style="line-height: 1; font-size: 45px; font-weight: lighter; letter-spacing: -0.2rem;">
                  A new way of authenticating. Simply Scan to Login
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="ion-text-center" size="12">
            <ion-card>
              <ion-card-header class="ion-text-left">
                <ion-card-title>
                  Welcome Back {{ user.displayName }}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-avatar slot="end">
                    <img [src]="user.photoURL">
                  </ion-avatar>
                  <ion-text>{{ user.displayName }}</ion-text>
                </ion-item>
                <ion-button color="primary" expand="block" style="--border-radius: 30px;" (click)="onNavigate()">Go to home</ion-button>
              </ion-card-content>
            </ion-card>
            <ion-button color="danger" expland="block" fill="clear" (click)="auth.signOut()">
              Sign Out
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>
  
</ion-content>
