<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="globe-outline"></ion-icon>
      Unlock Site
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-padding">
      <ion-col class="ion-padding">
        <ion-text style="line-height: 0.8; font-size: 55px; font-weight: lighter; letter-spacing: -0.2rem;">
          Please Scan the QRCode to Login
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!_session" class="ion-padding">
      <ion-col class="ion-padding ion-text-center">
        <ion-spinner color="primary" *ngIf="!isScannerReady"></ion-spinner>
        <zxing-scanner [formats]="['QR_CODE']" (scanSuccess)="onSuccess($event)" (camerasNotFound)="onNotFound($event)" (camerasFound)="onFound($event)"></zxing-scanner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="_session && !isAuthenticated" class="ion-padding">
      <ion-col class="ion-padding ion-text-center">
        <ion-card>
          <ion-card-header>You are about to login to {{ _session.domain }}</ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-text>
                  Do you want to continue?
                </ion-text>
              </ion-col>
              <ion-col size="12">
                <ion-button expand="block" style="--border-radius: 30px;" (click)="onContinue()">Yes</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="_session && isAuthenticated" class="ion-padding">
      <ion-col class="ion-padding ion-text-center">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <ion-text color="success" style="font-size: 35px;">
                  You have been looged in!
                </ion-text>
              </ion-col>
              <ion-col size="12">
                <ion-button expand="block" style="--border-radius: 30px;" routerLink="/home">Go to Home</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
